
            body{
                font-family: Times New Roman;
                text-align: center;
                background-color: aliceblue;
            }
            
            #title{
                color: firebrick;
                font-family: Courier New;
            }
            
            .sectionHeader{
                font-family: Courier New;
                color: DarkKhaki;
            }
            
            body > section > p{
                font-size: 20px;
            }
